---

---

html {
  font: normal 100%/1.5 Verdana, sans-serif;
}

body {
  margin: 0;
}

h1, h2, p {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

nav {
  background-color: #87c2af;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #c2decf;
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

.nav a:hover {
  color: #fff;
}

.masthead {
  padding: 3em;
  color: #fff;
  background-color: #87c2af;
}

.about {
  margin: 0;
  padding: 2em;
}

h2 {
  color: #87c2af;
}

img {
  width: 100%;
}

.image {
  overflow: hidden;
}

.container {
  overflow: hidden;
  position: relative;
}

.title-container {
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  transform: translateY(100%);
  text-align: center;
  background-color: rgba(182,215,197,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: #fff;
}

.container:hover .title-container {
  transform: translateY(0);
}

footer {
  height: 10%;
  padding: 1em 3em;
  background: #87c2af;
}

footer p {
  text-decoration: none;
  margin: 0;
  text-align: left;
  color: #c2decf;
}

.btm-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btm-nav li {
  display: inline-block;
}

.btm-nav a {
  text-decoration: none;
}

.btm-nav img {
  width: 50px;
}

.social {
  margin: 0;
  text-align: right;
}

.padding {
  padding: 1em 3em;
  margin-top: 1rem;
}

