<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="favicon-emilycopp.ico" type="image/x-icon">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <meta charset="utf-8">
  <title>Emily Copp Design</title>
  <meta name="description" content="Emily Copp Portfolio: a showcase of some of the work by Emily Copp.">
  <meta property="og:title" content="Emily Copp Design">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://coppcreative.ca/">
  <meta property="og:image" content="">
</head>
<body>

  <main>
    {{content}}
  </main>

</body>
</html>
